<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >
        <activity android:name=".ProfileActivity"  android:theme="@style/appStyle"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".MyLectureActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".AddLectureActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".HomeActivity"
            android:theme="@style/appStyle" />
        <activity
            android:screenOrientation="portrait"
            android:name=".LectureListActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".LectureDetailsActivity"
            android:parentActivityName=".LectureListActivity" />
        <activity             android:screenOrientation="portrait"
            android:name=".authentication.StudentSignUpActivity" />
        <activity             android:screenOrientation="portrait"
            android:name=".authentication.LecturerSignUpActivity" />
        <activity             android:screenOrientation="portrait"
            android:name=".authentication.LecturerSignInActivity" />
        <activity             android:screenOrientation="portrait"
            android:name=".splash.AuthActivity" />
        <activity             android:screenOrientation="portrait"
            android:name=".authentication.StudentSignInActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".splash.SplashActivity"
            android:theme="@style/NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>